.graph {
    -fx-background-color: #F4FFFB;
}

.vertex {
    -fx-stroke-width: 3;
    -fx-stroke: #61B5F1;
    -fx-stroke-type: inside;
    -fx-fill: #B1DFF7;
}

.vertex:hover { /* pseudo-classes also work */
    /*-fx-cursor: default; */ /* You can use this style to override the hand/move cursors while hovering. */
    -fx-stroke-width: 4;
}

.vertex-label {
    -fx-font: bold 10pt "sans-serif";
}

.edge {
    -fx-stroke-width: 2;
    -fx-stroke: #FF6D66;  
    -fx-stroke-dash-array: 2 5 2 5; /* remove for clean edges */  
    -fx-fill: transparent; /*important for curved edges. do not remove */
    -fx-stroke-line-cap: round;
    -fx-opacity: 0.8;
}

.edge-label {
    -fx-font: normal 7pt "sans-serif";
}

.arrow {
    -fx-stroke-width: 2;
    -fx-stroke: #FF6D66;  
    -fx-opacity: 0.8;
}

.vertexDepart {
    -fx-stroke-width: 5;
    -fx-stroke: green;
    -fx-stroke-type: inside;
    -fx-fill: yellowgreen;
}

.vertexArrivee {
    -fx-stroke-width: 5;
    -fx-stroke: red;
    -fx-stroke-type: inside;
    -fx-fill: lightpink;
}

.vertexChemin {
    -fx-stroke-width: 5;
    -fx-stroke: orange;
    -fx-stroke-type: inside;
    -fx-fill: yellow;
}
